<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Controle de Ponto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Controle de Ponto</h3>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="index.php">Home</a></li>
                            <li><a href="#">Funcionalidades</a></li>
                            <li><a href="login.php">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="inner cover">
                    <h1 class="cover-heading">Controle de Ponto</h1>
                    <p class="lead">Essa é uma ferramenta desenvolvida para fornecer uma solução de controle de ponto via intranet para pequenas e médias empresas</p>
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Saiba Mais</a>
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Desenvolvido com <a href="http://getbootstrap.com">Bootstrap</a>, por <a href="https://kyqwebdesign.com.br">Caíque de Castro</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
